.d3-chart {
    width: 100%;
    min-height:600px;
    border: 1px solid gray;
  }

  ::ng-deep .node rect {
    cursor: pointer;
    fill: #fff;
    fill-opacity: 0.5;
    stroke: #3182bd;
    stroke-width: 1.5px;
  }
  
  ::ng-deep .node text {
    font: 12px sans-serif;
    pointer-events: none;
  }
  
  ::ng-deep .link {
    fill: none;
    stroke: #9ecae1;
    stroke-width: 1.5px;
  }